<h1><%= @user.name %></h1>

<br>
<br>
<% if @user.posts.any? %>
<ul>
  <% @user.posts.each do |post| %>
    <li><%= link_to post.title, user_post_path(@user, post) %></li>
    <% end %>
  </ul>
  <% end %>


<h3><%= link_to 'Add a new blog post', new_user_post_path(@user) %> </h3>
