<h1><%= @post.title %></h1>

<br>
<br>

<p> <%= @post.body %> </p>

<%= link_to 'Edit', edit_user_post_path(@user, @post) %>
<%= link_to 'Delete', user_post_path(@user, @post),
                      :data => {:confirm => "Are you sure?",
                      :method => "delete"} %>
